# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo

# Streamlit
.streamlit/

# Chroma DB
vector_db/
chroma_db/

# Downloads
downloades/
downloads/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log